@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #00BCD4;
    --primary-dark-color: #0097A7;
    --text-color: #FFFFFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --accent-color: #7C4DFF;
    --shadow-color: #21212120;
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 50px;
    box-shadow: 0 10px 10px var(--shadow-color);
}

.header .logo #logo {
    font-size: 75px;
    font-weight: 900;
    text-shadow: 0 0 10px var(--primary-dark-color);
}

.header #searchBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header #searchBox .inputTextField {
    appearance: none;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 50%;
    font-size: 20px;
    color: var(--primary-text);
    padding: 0px 10px;
    box-shadow: 0px 0px 10px var(--primary-dark-color);
}

.contentFlexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px 120px 0px;
}

.emoteContainer {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.emoteImage {
    width: 40px;
    height: 40px;
}

.emoteImage:hover {
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-shadow: 0 0 10px var(--primary-dark-color);
}

.footer a {
    text-decoration: none;
}