@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face { font-family: 'Uni Sans'; src: url('./uni-sans.otf'); }

:root {
    --primary-color: #36393F;
    --primary-dark-color: #23272a96;
    --text-color: #FFFFFF;
    --primary-text: #FFFFFF;
    --secondary-text: #a2a3a8;
    --accent-color: #36393F;
    --shadow-color: #21212140;
}

*:focus {
    outline: none;
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    background-color: #2c2f33;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark-color);
    box-shadow: 0px 5px 10px var(--shadow-color);
    padding: 20px;
    z-index: 2;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.header .leftHeaderContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .leftHeaderContent #hamburgerMenu {
    display: none;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.header .leftHeaderContent #hamburgerMenu span {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    pointer-events: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburgerMenu span:nth-child(1) {
  top: 0px;
}

#hamburgerMenu span:nth-child(2) {
  top: 5px;
}

#hamburgerMenu span:nth-child(3) {
  top: 10px;
}

#hamburgerMenu.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburgerMenu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburgerMenu.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.header .leftHeaderContent .logo #logo {
    font-family: "Uni Sans";
    font-size: 50px;
}

.header #sidebarContainer {
    display: flex;
    margin-right: 30px;
}

.header #sidebarContainer .sidebarButtons {
    padding: 15px 0px; 
    margin-left: 25px;
    font-size: 25px;
    font-weight: 200;
    transition: 250ms ease;
}

.header #sidebarContainer .sidebarButtons.active, .header #sidebarContainer .sidebarButtons:hover  {
    font-weight: bold;
}

.header #sidebarContainer .sidebarButtons:hover {
    cursor: pointer;
}

#searchBox {
    margin: 120px auto 10px auto;
    width: 50%;
    background-color: var(--primary-dark-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.inputTextField {
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    color: var(--text-color);
    border: 0;
    background: transparent;
}

.contentFlexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 200px;
}

.emoteContainer {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 12px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 40px;
    box-shadow: 0 10px 10px var(--shadow-color);
    transition: 250ms ease;
}

.emoteContainer:hover {
    transform: scale(1.2);
}

.emoteContainer .emoteTitle {
    position: absolute;
    margin-top: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 0 10px var(--primary-dark-color);
    width: 85px;
}

.emoteImage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.emoteImage:hover {
    cursor: pointer;
}

.emoteCopied {
    font-size: 12px;
    font-weight: 700;
    margin-top: 12px;
    animation: fadeInOut ease 2.5s;
    -webkit-animation: fadeInOut ease 2.5s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-shadow: 0 0 10px var(--primary-dark-color);
}

#paginationContainer {
    bottom: 0px;
    box-shadow: 0px -5px 10px var(--primary-dark-color);
    display: flex;
    justify-content: center;
    transition: 300ms ease;
}

#paginationContainer .paginationPages{
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
    font-weight: 300;
    cursor: pointer;
}

.paginationPages.active {
    opacity: 1!important;
    font-weight: 900!important;
}

.footer a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 900;
}

@media only screen and (max-width: 900px) {
    .header .leftHeaderContent {
        justify-content: left;
    }
    .header #hamburgerMenu {
        display: block!important;
        margin-right: 5%;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    .header #sidebarContainer {
        flex-direction: column;
        position: absolute;
        top: 85px;
        left: 0;
        transform: translateX(-250px); 
        width: 50%;
        height: 1000%;
        z-index: 2;
        padding-top: 20px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-color: var(--primary-dark-color);
        transition: 250ms ease;
    }
    .header #sidebarContainer.open {
        transform: translateX(0px); 
    }
    .header .leftHeaderContent .logo #logo {
        font-size: 40px;
    }
    #searchBox {
        margin: 100px auto 10px auto;
        width: 80%;
    }
    .contentFlexBox{
      padding-bottom: 20px;
    }
}

@keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}