@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face { font-family: 'Uni Sans'; src: url('../fonts/uni-sans.otf'); }

:root {
    --primary-color: #36393F;
    --header-color: #36393FD1;
    --primary-dark-color: #23272a;
    --text-color: #FFFFFF;
    --primary-text: #FFFFFF;
    --secondary-text: #a2a3a8;
    --accent-color: #36393F;
    --shadow-color: #21212140;
}

*:focus {
    outline: none;
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    background-color: #2c2f33;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 20px;
    z-index: 2;
}

.header .leftHeaderContent {
    display: flex;
    justify-content: space-between;
}

.header #hamburgerMenu {
    display: none;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.header #hamburgerMenu span {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    pointer-events: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburgerMenu span:nth-child(1) {
  top: 0px;
}

#hamburgerMenu span:nth-child(2) {
  top: 5px;
}

#hamburgerMenu span:nth-child(3) {
  top: 10px;
}

#hamburgerMenu.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburgerMenu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburgerMenu.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.header .leftHeaderContent .logo #logo {
    font-family: "Uni Sans";
    font-size: 50px;
}

.header #sidebarContainer {
    display: flex;
    margin-right: 50px;
}

.header #sidebarContainer .sidebarButtons {
    padding: 15px 0px;
    margin-left: 25px;
    font-size: 25px;
    font-weight: 200;
    transition: 250ms ease;
}

.header #sidebarContainer .sidebarButtons.active, .header #sidebarContainer .sidebarButtons:hover  {
    font-weight: bold;
}

.header #sidebarContainer .sidebarButtons:hover {
    cursor: pointer;
}

#searchBox {
    margin: 120px auto 10px auto;
    width: 50%;
    background-color: var(--header-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    transition: 250ms ease;
}

#searchBox.hide {
    opacity: 0;
    transform: translate(0, -50px);
}

.inputTextField {
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    color: var(--text-color);
    border: 0;
    background: transparent;
}

.contentFlexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.emoteContainer {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 12px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 40px;
    box-shadow: 0 10px 10px var(--shadow-color);
    transition: 250ms ease;
}

.emoteContainer:hover {
    transform: scale(1.2);
}

.emoteContainer .emoteTitle {
    position: absolute;
    margin-top: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 0 10px var(--primary-dark-color);
    width: 85px;
}

.emoteImage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.emoteImage:hover {
    cursor: pointer;
}

.emoteCopied {
    font-size: 12px;
    font-weight: 700;
    margin-top: 12px;
    animation: fadeInOut ease 2.5s;
    -webkit-animation: fadeInOut ease 2.5s;
}

.descriptionNitroless {
  background-color: var(--accent-color);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: -50px 10px 20px;
  width: 80%;
  font-size: 15px;
  font-weight: 300;
}

.descriptionNitroless #headingAbout {
  font-size: 50px;
  font-family: Uni Sans;
}

.nitrolessTeam {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.nitrolessTeam .devContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--accent-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 250ms ease;
}

.nitrolessTeam .devContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 10px 10px #0005;
}

.nitrolessTeam .devContainer .devDisplayPicture {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.nitrolessTeam .devContainer .devInfo {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.nitrolessTeam .devContainer .devInfo .devName {
  font-family: Uni Sans;
  font-size: 20px;
}

.nitrolessTeam .devContainer .devInfo .devDescription {
  font-weight: 300;
  font-size: 15px;
}

@media only screen and (max-width: 900px) {
    .header {
      transition: 250ms ease;
      padding: 20px 0 20px 0;
      background-color: var(--header-color);
    }
    .header.hide {
      transform: translateY(-100px);
    }
    .header .leftHeaderContent {
        display: block;
        text-align: center;
    }
    .header #hamburgerMenu {
        display: block!important;
        position: absolute;
        margin-top: 15px;
        left: 15px;
        height: 30px;
    }
    .header #sidebarContainer {
        flex-direction: column;
        position: absolute;
        top: 85px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        width: 100vw;
        height: 1000%;
        z-index: 3;
        padding-top: 20px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-color: var(--header-color);
        transition: 350ms ease;
        text-align: center;
    }
    .header #sidebarContainer.open {
        pointer-events: all;
        transform: translateY(0px);
        opacity: 1;
    }
    .header #sidebarContainer .sidebarButtons {
      padding: 20px 0px;
      margin-left: 0;
    }
    .header .leftHeaderContent .logo #logo {
        font-size: 40px;
    }
    #searchBox.hide {
        transform: translate(-50%, -50px);
    }
    #searchBox {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0px);
        margin-top: -50px;
        width: 80%;
        z-index: 1;
        transition: 250ms ease;
    }
    #searchBox:before, .header:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
    }
    .contentFlexBox{
        margin-top: 150px;
        padding-bottom: 20px;
        max-width: unset;
    }
}

@keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeInOut {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}